html {
  font-size: 62.5%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100%;
}

/* ここからheader部分 */
header {
  width: 100%;
  padding: 1% 7.5%;
  /* border: tomato 1px solid; */
}

header > h1 {
  color: #734e30;
  font-size: 2em;
  display: inline-block;
}

header > ul {
  /* border: tomato 1px solid; */
  float: right;
}

header > ul li {
  display: block;
  padding: 0 30px;
  float: left;
}

header > ul li a {
  color: #333;
  font-size: 1.4em;
}

/* ここからメインヴィジュアル */
.mainvisual {
  width: 100%;
  height: 830px;
  /* border: tomato 1px solid; */
  background-image: url(../img/test.jpg);
  background-size: contain;
  position: relative;
}

.mainvisual .mainText01 {
  font-size: 4.5em;
  margin: 350px 50px;
  position: absolute;
  color: rgb(223, 160, 50);
}

.mainvisual .mainText01 span {
  color: #734e30;
}

.mainvisual .mainText02 {
  position: absolute;
  color: #ffee;
  font-size: 1.5em;
  margin: 415px 55px;
}

.mainvisual a {
  color: #ffee;
  font-size: 1.5em;
  /* border: tomato 1px solid; */
  padding: 12px;
  position: absolute;
  margin: 450px 55px;
  background-color: #333;
}

/* ここからセレクト画像 */
.selectWrap {
  width: 80%;
  height: 400px;
  /* border: tomato 1px solid; */
  margin: 60px auto;
}

.selectImg01 {
  width: 650px;
  height: 400px;
  background-image: url(../img/ads-img1.jpg);
  background-position: left;
  display: inline-block;
}

.selectImg01 h3 {
  font-size: 2.5em;
  color: #ffee;
  margin-top: 140px;
  margin-left: 50px;
}

.selectImg01 p a {
  font-size: 1.5em;
  color: #ffee;
  line-height: 5;
  margin-left: 50px;
  text-decoration: underline;
}

.selectImg02 {
  width: 650px;
  height: 400px;
  background-image: url(../img/ads-img2.jpg);
  /* background-position: right; */
  background-size: cover;
  float: right;
}

.selectImg02 h3 {
  font-size: 2.5em;
  color: #ffee;
  margin-top: 140px;
  margin-left: 50px;
}

.selectImg02 p a {
  font-size: 1.5em;
  color: #ffee;
  line-height: 5;
  margin-left: 50px;
  text-decoration: underline;
}

.shopTextWrap {
  width: 350px;
  height: auto;
  /* border: tomato 1px solid; */
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.shopTextWrap span {
  font-size: 1.5em;
  color: #c7a17a;
}

.shopTextWrap h2 {
  color: #312a26;
  font-size: 2em;
}

.shopTextWrap hr {
  color: #c7a17a;
}

/* ここからコーヒー（販売用）の写真 */
.coffeeWrap {
  /* border: tomato 1px solid; */
  width: 80%;
  height: 730px;
  margin: 30px auto;
  padding: 0 40px;
}

.coffeeImg01 {
  width: 300px;
  /* border: tomato 1px solid; */
  text-align: left;
  float: left;
}

.coffeeImg01 img {
  width: 300px;
  /* border: tomato 1px solid; */
}

.coffeeImg01 h3 {
  color: #312a26;
  font-size: 1.5em;
}

.coffeeImg01 span {
  color: #312a26;

  font-size: 1.5em;
}

.coffeeImg01 p {
  color: #312a26;
  font-size: 1.5em;
}

.coffeeImg02 {
  width: 300px;
  /* border: tomato 1px solid; */
  text-align: left;
  float: left;
  margin-left: 20px;
}

.coffeeImg02 img {
  width: 300px;
  /* border: tomato 1px solid; */
}

.coffeeImg02 h3 {
  color: #312a26;
  font-size: 1.5em;
}

.coffeeImg02 span {
  color: #312a26;
  font-size: 1.5em;
}

.coffeeImg02 p {
  color: #312a26;
  font-size: 1.5em;
}

/* ここから2段目 */
.coffeeImg03 {
  width: 300px;
  /* border: tomato 1px solid; */
  text-align: left;
  float: left;
  margin-top: 20px;
}

.coffeeImg03 img {
  width: 300px;
  /* border: tomato 1px solid; */
}

.coffeeImg03 h3 {
  font-size: 1.5em;
}

.coffeeImg03 span {
  font-size: 1.5em;
}

.coffeeImg03 p {
  font-size: 1.5em;
}

.coffeeImg04 {
  width: 300px;
  /* border: tomato 1px solid; */
  text-align: left;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

.coffeeImg04 img {
  width: 300px;
  /* border: tomato 1px solid; */
}

.coffeeImg04 h3 {
  color: #312a26;
  font-size: 1.5em;
}

.coffeeImg04 span {
  color: #312a26;
  font-size: 1.5em;
}

.coffeeImg04 p {
  color: #312a26;
  font-size: 1.5em;
}
