@charset "UTF-8";

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  width: 600px;
  height: 300px;
  margin: 0 auto;
}

main nav {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

main nav > ul:first-child {
  background-color: tomato;
}
