@charset "UTF-8";

html {
  font-size: 62%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  display: block;
}

h1 {
  background-color: rgb(34, 22, 68);
  font-size: 1.5em;
  color: #fff;
  padding: 8px;
}

nav {
  width: 100%;
  height: 800px;
  /* border: skyblue 1px solid; */
}

main nav > ul {
  width: 600px;
  display: flex;
  /* align-items: center; */
  font-size: 1.5em;
  margin-top: 300px;
  margin-right: auto;
  margin-left: auto;
  /* border: tomato 1px solid; */
}

main .allWrap > li:first-child {
  width: 80px;
  height: 40px;
  padding: 8px;
  background-color: tomato;
}

main .allWrap > li {
  width: 130px;
  height: 40px;
  padding: 8px;
  background-color: black;
  text-align: center;
  position: relative;
}

/* ここからサブナビ */
.anotherWrap {
  position: absolute;
  background-color: rgba(107, 104, 117, 0.98);
  text-align: center;
  width: 130px;
  height: 140px;
  /* padding: 8px; */
  margin-top: 9px;
  margin-left: -8px;
  /* display: none; */
  /* display: none; */
  /* border: tomato 1px solid; */
}

.anotherWrap > li {
  line-height: 3;
}

/* サブナビhover時 */
.allWrap li:hover .anotherWrap {
  display: block;
}
.anotherWrap li:nth-of-type(1),
.anotherWrap li:nth-of-type(2) {
  /* background-color: skyblue; */
  /* line-height: 25px; */
  border-bottom: tomato 2px dotted;
}
/* 上の疑問点の解説
この.anotherWrap li:hover.anotherWrap でもanotherWrapすべての要素が出ないのは
liの要素の中にあるものしか表示されないから他のところにある要素はその特定の要素にないから。 */

/* メインナビのホバー時カラー */
main .allWrap > li:hover {
  background-color: rgba(117, 107, 104, 0.98);
}
main .allWrap > li:first-child:hover {
  background-color: rgb(189, 94, 78);
}

main .anotherWrap > li a:hover,
main .allWrap > li:hover {
  background-color: rgba(68, 60, 58, 0.98);
}

/* サブナビのホバー時カラー */
main .anotherWrap > li a:hover {
  background-color: rgb(242, 237, 237);
  color: #111;
}
/* ボーダーの横線など */
.allWrap li:first-child {
  border-left: none;
}

.allWrap li:last-child {
  border-right: none;
}

.allWrap > li {
  border-right: 1px tomato solid;
}
