$main-color: tomato;

.nav{
  padding: 10px;

  a{
    color: $main-color
  }
}

.button{
  background-color: #0bd;

  &.mb{
    margin-bottom: 20px;
  }
  &:hover{
    background-color: tomato;
  }
}