.box_wrap {
  border: tomato 4px solid;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box:nth-child(1) {
  width: 200px;
  height: 200px;
  background-color: blue;
  display: block;
}

.box:nth-child(2) {
  width: 200px;
  height: 200px;
  background-color: tomato;
  display: block;
}

.box:nth-child(3) {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  display: block;
}

.box:nth-child(4) {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  display: block;
}

.box:nth-child(5) {
  width: 200px;
  height: 200px;
  background-color: bisque;
  display: block;
}

.btn_wrap {
  border: darkorange 1px solid;
  width: 100px;
  margin: 50px auto;
}

.btn {
  width: 100px;
  margin: 0 auto;
  padding: 10px;
  display: block;
}
