@charset "UTF-8";

html,body{
	height: 100%;
	width: 100%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("../img/bgDecolation.png");
    background-size: contain;
    background-color: #FFE2AB;
    background-repeat: repeat-y;
    color: #634C37;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.date{
    width: 160px;
    height: 40px;
    background-color: #A06834;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.menu_box{
    width: 80px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBBC05;
    padding-top: 8px;
    cursor: pointer;
    border-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.menu_box > p{
    font-size: 12px;
    margin-top: 8px;
}

.square_space{
    width: 100%;
    overflow: hidden;
}

.table_top_flex_wrap{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.table_top_wrap{
    width: 250px;
    height: 230px;
    position: relative;
}

.comment_top{
    position: absolute;
    left: 60px;
    top: 4px;
    width: 53px;
    height: 38px;
    background-image: url("../img/comment.svg");
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment_top > p{
    font-size: 12px;
}

.lin_avatar{
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
    margin: auto;
}

.table_white{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.table_middole_flex_wrap{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    transform: translate(-80px);
}

.table_middole_wrap{
    width: 250px;
    height: 200px;
    position: relative;
}

.comment_middole{
    position: absolute;
    right: 85px;
    top: -60px;
    width: 53px;
    height: 38px;
    background-image: url("../img/comment.svg");
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment_middole > p{
    font-size: 12px;
}

.yuri_avatar{
    position: absolute;
    right: 55px;
    top: -20px;
    margin: auto;
}

.table_beju{
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    margin: auto;
}

.table_bottom_flex_wrap{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.table_bottom_wrap{
    width: 250px;
    height: 155px;
    position: relative;
    transform: translateY(-50px);
}

.comment_bottom{
    position: absolute;
    left: 60px;
    top: -80px;
    width: 53px;
    height: 38px;
    background-image: url("../img/comment.svg");
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment_bottom > p{
    font-size: 12px;
}

.comment_bottom_big{
    position: absolute;
    right: 25px;
    top: -70px;
    width: 68px;
    height: 38px;
    background-image: url("../img/comment_big.svg");
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment_bottom_big > p{
    font-size: 12px;
}

.takami_avatar{
    position: absolute;
    left: 15px;
    top: -45px;
    margin: auto;
}

.akiko_white{
    position: absolute;
    right: 10px;
    top: -30px;
    margin: auto;
}

.table_white_bottom{
    width: 255px;
    height: auto;
    position: absolute;
    right: -10px;
    top: 70px;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
}


.footer_nav{
    width: 80px;
    height: 80px;
    background-image: url("../img/nav_circle.svg");
    transform: translateY(5px);
}

.footer_nav_flex_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

a > .footer_nav_flex_wrap > p{
    color: #634C37;
    text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
    -1px 1px 0 #FFF, 1px -1px 0 #FFF,
    0px 1px 0 #FFF,  0-1px 0 #FFF,
    -1px 0 0 #FFF, 1px 0 0 #FFF;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
}

.footer_nav_wrap:first-child .footer_nav a > .footer_nav_flex_wrap > p{
    color: #fff;
    text-shadow:1px 1px 0 #634C37, -1px -1px 0 #634C37,
    -1px 1px 0 #634C37, 1px -1px 0 #634C37,
    0px 1px 0 #634C37,  0-1px 0 #634C37,
    -1px 0 0 #634C37, 1px 0 0 #634C37;

}
.footer_nav a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-decoration: none;
    padding-bottom: 13px;
}

.footer_nav_wrap:first-child > .footer_nav{
    background-image: url("../img/nav_circle_home.svg");
}

.footer_nav_wrap:nth-child(2) .footer_nav a .footer_nav_flex_wrap img{
    padding-left: 10px;
}

footer > .footer_nav_wrap:first-child > .nav_square{
    background-color: #FFB0A7;
}


.nav_square{
    width: 32px;
    height: 130px;
    background-color: #CDAE91;
    margin: 0 auto;
    margin-top: -20px;
    z-index: 1;
    /* transform: translateY(-20px); */
}

.self_introduction_wrap{
    margin-top: 8px;
}

.self_introduction_wrap > p{
    font-size: 15px;
}

.self_introduction{
    width: 100%;
    border: solid 3px black;
    border-radius: 4px;
    padding: 8px;
}

.self_introduction > p{
    font-size: 14px;
}

.career_wrap{
    margin-top: 16px;
}

.career_wrap > p{
    font-size: 15px;
}

.career{
    width: 100%;
    height: 212px;
    border: solid 3px black;
    border-radius: 4px;
    padding: 16px 21px;
    overflow-y: scroll;
}

.annual{
    display: flex;
}

.annual > p:first-child{
    font-size: 14px;
    margin-right: 24px;
}

.annual > p:last-child{
    font-size: 12px;
}

.border{
    margin-left: 16px;
}


.delete{
    visibility: hidden;
    opacity: 0;
}

.avtar_detail_screen{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    padding: 82px 24px;
    transition: .3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.avtar_detail_wrap{
    width: 100%;
    height: 100%;
    border: solid 3px black;
    padding: 24px 16px;
    border-radius: 20px;
    background-color: #fff;
}

.icon_name_flexWrap{
    display: flex;
    align-items: center;
}


.icon{
    width: 120px;
    height: 120px;
    border: solid 3px black;
    border-radius: 50%;
    overflow: hidden;
    padding-top: 10px;
    background-color: #D4B0F1;
    margin-right: 8px;
}

.icon img{
    width: 100%;
    height: auto;
}

h3{
    font-size: 24px;
}

.company_work_wrap{
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.work_icon_bg{
    width: 20px;
    height: 20px;
    background-color: #634C37;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work_icon_bg img{
    width: 90%;
    height: auto;
}

.company_work_wrap_text{
    width: 133px;
    font-size: 12px;
    margin-left: 8px;
}

button{
    width: 139px;
    height: 56px;
    border: solid 3px black;
    border-radius: 4px;
    margin-top: 16px;
    box-shadow: 0 3px 0px rgba(0, 0, 0);

}

button a{
    width: 100%;
    height: 100%;
    display: block;
    padding: 8px 0px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.btn_pink{
    background-color: #FFB0A7;
    font-size: 24px;
}

.btn_green{
    background-color: #B8D682;
    font-size: 24px;

}
