*{
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto 100px  auto;
    padding: 0 4%;
    text-align: center;
}

.site-title{
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
}

img{
    max-width: 100%;
    border-style: none;
}

#header ul{
    display: flex;
}

#header li{
    margin-left: 30px;
}

li{
    list-style: none;
}
