* {
    margin: 0;
    padding: 0;
}

.main {
    /* background-color: #f00; */
    background-image: url(../クリエイティブワーク/images/_talking.png);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 915px;
    overflow: hidden;
    /* border: solid 1px tomato; */
}

.mainBackImg {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.mainBackImg img {
    width: 100%;
}

.mainLogoWrap {
    position: absolute;
    text-align: center;
    z-index: 20;
    /* border: solid 5px skyblue; */
    width: 600px;
    height: 170px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.mainLogoWrap img {
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: fadeinAnime 5s forwards ease;
    /* animation-name:fadeinAnime;
    animation-fill-mode:forwards;
    animation-duration:5s;
    animation-iteration-count:1;
    animation-timing-function:ease;
    animation-delay: 1s;
    animation-direction:normal; */
}

@keyframes fadeinAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.mainText {
    position: absolute;
    /* border: solid 1px tomato; */
    z-index: 30;
    /* margin-top: 530px; */
    /* margin-left: 68px; */
    bottom: 10px;
    left: 60px;
    font-family: "A P-OTF 凸版文久見出ゴ Std", sans-serif;
    font-size: 38px;
    letter-spacing: 20px;
}

.Mainbackground {
    background-color: #1A8991;
}

.Subbackground {
    background-color: #CF632B;
    /* border: solid 1px skyblue; */
    width: 880px;
    margin-left: 420px;
}

.Smallbackground {
    background-color: #0A2C43;
    width: 880px;
    margin-left: 420px;
}

.headline {
    color: #B39B6F;
    clear: both;
    /* border: solid 1px skyblue; */
    text-align: center;
    font-size: 40px;
    font-family: Silom, sans-serif;
    padding-top: 20px;
}

.Imgcoffee {
    /* border: skyblue 1px solid; */
    margin-left: 30px;
    margin-top: 70px;
}

.coffee {
    /* border: solid 1px skyblue; */
    float: right;
    margin-right: 30px;
}

.headlinecoffee {
    /* border: solid 1px skyblue; */
    font-size: 30px;
    font-family: Silom, sans-serif;
    color: #ffffff;
    margin-top: 85px;
    margin-left: 112px;
    text-decoration: underline;
}

.Textcoffee {
    /* border: 1px skyblue solid; */
    font-size: 18px;
    font-family: "A-OTF 太ゴB101 Pr6", sans-serif;
    color: #ffffff;
    line-height: 85px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 20px;
}

.v_line_fix {
    clear: both;
    /* border: solid 1px #ffffff; */
    margin-left: 250px;
    width: 5px;
    height: 150px;
    background-color: #ffffff;
}

.Imghamburger {
    margin-left: 30px;
    margin-top: 5px;
}

.hamburger {
    /* border: solid 1px skyblue; */
    float: right;
    margin-right: 30px;
}

.headlinehamburger {
    font-size: 30px;
    font-family: Silom, sans-serif;
    color: #ffffff;
    margin-top: 25px;
    margin-left: 75px;
    text-decoration: underline;
}

.Texthamburger {
    /* border: skyblue 1px solid; */
    font-size: 18px;
    font-family: "A-OTF 太ゴB101 Pr6", sans-serif;
    color: #ffffff;
    line-height: 85px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 20px;

}

.strong {
    font-size: 35px;
    font-family: "A-OTF 太ゴB101 Pr6", sans-serif;
    color: #ffffff;
}
.strongWrap{
    font-size: 40px;
    font-family: "凸版文久見出し明朝","A-OTF 太ゴB101 Pr6", sans-serif;
    color: saddlebrown;
}