html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}
.Mainbuck{
    background-color: #1A8991;
    margin-top: -6px;
}

.subback{
    background: #CF632B;
    width: 880px;
    margin-left: 420px;
}

.Mainvisual{
    display: flex;
    opacity: 90%;
}

.Mainlogo{
    position: absolute;
    z-index: 99;
    margin-left: 430px;
    margin-top: 330px;
    animation: 3s fuwafuwa infinite;
}
@keyframes fuwafuwa {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}