html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}
.Mainbuck{
    background-color: #1A8991;
    margin-top: -6px;
}

.subback{
    background: #CF632B;
    width: 880px;
    margin-left: 420px;
    
}

.Mainvisual{
    display: flex;
    opacity: 90%;
}

.Mainlogo{
    position: absolute;
    z-index: 99;
    margin-left: 430px;
    margin-top: 330px;
    animation: 3s fuwafuwa infinite;
}
@keyframes fuwafuwa {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}
.set{
    font-size: 40px;
    color: #B39B6F;
    font-family: Silom, sans-serif;
    text-align: center;
    padding-top: 10px;
}

.Mountainham{
    border: solid 1.5px #ffff;
    width: 275px;
}

.Mountainprice{
    /* border: solid 1px skyblue; */
    font-family: "Chalkboard SE", sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    margin-top: -40px;
    margin-left: 5px;
    font-size: 20px;
    text-decoration: underline;
}