html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}
.Mainbuck{
    background-color: #1A8991;
}

.subback{
    background: #CF632B;
    width: 880px;
    margin-left: 420px;
}

.Mainvisual{
    display: flex;
    opacity: 90%;
}