@charset "UTF-8";

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #FFE2AB;
}

.Background{
    background: url(../images/background_img.png);
    background-size: contain;
    /* height: 100vh; */
    height: 100%;
    width: 100%;
}

.account{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 66px;
}
.Mail{
    text-align: center;
    width: 275px;
    /* padding: 73px; */
    border: #634C37 1px solid ;

}