@charset "UTF-8";

html,body {
    height: 100%;
    width: 100%;
}

body {
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    background-color: #FFE2AB;
}


.background{
    background: url(../images/background_img.png);
    background-size: contain;
    /* height: 100vh; */
    height: 100%;
    width: 100%;
}

.new_Register{
    font-size: 24px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 66px;
    color: #634C37;
    letter-spacing: 5px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.text{
    /* border: tomato 1px solid; */
    margin-top: 72px;
    text-align: center;
}

.person_icon{
    position: absolute;
    margin-left: 40px;
    margin-top: 4px;
}

.name{
    text-align: center;
    width: 320px;
    height: 40px;
    /* padding: 73px; */
    border: #634C37 2px solid;
    background-color: #FFFF;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.password{
    text-align: center;
    width: 320px;
    height: 40px;
    /* padding: 73px; */
    border: #634C37 2px solid;
    background-color: #FFFF;
    border-radius: 2px;
    margin-top: 16px;
    font-size: 14px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.next{
    /* border: tomato 1px solid; */
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 91px;
    width: 100%;
}

.btn {
    display: block;
    width: 220px;
    height: 56px;
    background-color: #B8D682;
    text-decoration: none;
    color: #634C37;
    padding: 9px 0px;
    border-radius: 10px;
    border-top: #634C37 solid 1px;
    border-left: #634C37 solid 1px;
    border-right: #634C37 solid 1px;
    border-bottom: #634C37 solid 3px;
    font-size: 24px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 5px;
}  

.policy{
    /* display: block; */
    text-align: center;
    font-size: 12px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: auto;
}

.policy_Wrap{
    color: #634C37;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}