*{
    margin: 0;
    padding: 0;
}

.Background{
    background: url(../images/background_img.png);
    background-size: contain;
    height: 801px;
}

.Logo{
    width: 320px;
    height: 117px;
}

.btn {
    border-radius: 5px;
    background-color: lightblue;
    padding: 10px;
    text-decoration: none;
    color: white;
}  

.Catchcopy{
    font-size: 16px;
    font-family: "Rounded Mplus 1c",sans-serif ;
    text-align: center;
}
