@charset "UTF-8";

html,body{
    width: 100%;
    height: 100%;
}

body {
    background-color: #FFE2AB;
}

.Background{
    background: url(../images/background_img.png);
    background-size: contain;
    /* height: 100vh; */
    height: 100%;
    width: 100%;
}

.flex_wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 500px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.Logo{
    width: 320px;
    height: auto;
    /* margin-bottom: 268px; */
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.button{
    display: flex;
    display: block;
    /* border: solid 1px black; */
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 91px;
    width: 100%;
    }

.button button {
    display: block;
    margin: 0 auto;
}

.btn {
    display: block;
    width: 220px;
    height: 56px;
    background-color: #B8D682;
    text-decoration: none;
    color: #634C37;
    padding: 8px 0px;
    border-radius: 10px;
    border-top: #634C37 solid 1px;
    border-left: #634C37 solid 1px;
    border-right: #634C37 solid 1px;
    border-bottom: #634C37 solid 3px;
    font-size: 24px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}  

.Catchcopy{
    font-size: 16px;
    font-family: "Rounded Mplus 1c",sans-serif ;
    text-align: center;
    letter-spacing: 10%;
}


