@charset "UTF-8";

html,body{
    width: 100%;
    height: 100%;
}

body {
    background-color: #FFE2AB;
}

.background{
    background: url(../images/background_img.png);
    background-size: contain;
    /* height: 100vh; */
    height: 100%;
    width: 100%;
}

.welcome{
    text-align: center;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}